@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

*{
    font-family: 'Fira Sans', sans-serif;
    margin: 0;
    padding: 0;
}

body{
    min-height: 190px;
    background: url("../images/login/background/1192022.jpg") fixed no-repeat;
    background-size: 100% 100%;
    
}

main{
    width: 100%;
    height: 100vh;
    background-color: rgba(49, 47, 47, 0.8);
}

.container{
    width: 450px;
    height: 500px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
    margin: auto auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.iconBanner{
    width: 100%;
    height: 100px;
    background-color: lightcoral;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.content{
    width: 280px;
    text-align: center;
    padding-top: 46px;
    margin: 0 auto;
}

.content h1{
    margin-bottom: 50px;
}

.content *{
    margin-bottom: 12px;
}

.content .bxs-user{
    position: absolute;
    margin: 0;
    padding: 10px;
    color: rgba(0, 0, 0, 0.5);
}

.content .bxs-lock-alt{
    position: absolute;
    margin: 0;
    padding: 10px;
    color: rgba(0, 0, 0, 0.5);
}

.title{
    
}

.roundedInput{
    padding-left: 36px;
    font-size: 18px;
    width: 260px;
    height: 36px;
    border-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    outline: none;
    transition: all ease 0.4s;
}

.roundedInput:hover{
    border-color: rgba(0, 0, 0, 0.5);
}

.roundedInput:focus{ 
    border-color: #4398e8;
}
.inputField{
    display: flex;
    margin-top: 8px;
    margin-bottom: 0;
}

.inputField span{
    margin: 0;
    position: absolute;
    text-align: center;
    transform:  translateX(40px) translateY(12px);
    pointer-events: none;
    transition: all ease 0.5s;
}

.inputField input:valid ~ span,
.inputField input:focus ~ span{
    transform: translateX(32px) translateY(-8px);
    padding: 0;
    background-color: white;
    font-size: 14px;
}

/* .inputField input:valid ~ .inputField input::before,
.inputField input:focus ~ .inputField input::before{
} */

.chkBox{
    text-align: left;
    padding-left: 4px;
}
.chkBoxRemember{
    text-align: left;
    width: fit-content;
}
.chkBoxRemember {
    cursor: pointer;
    user-select: none;
}

#rememberLogin{
    width: 14px;
    height: 14px;
    pointer-events: none;
}

#btnLogin{
    width: 100px;
    height: 38px;
    font-size: 16px;
    background-color: #4FA4F1;
    border: none;
    border-radius: 6px;
    color: white;
    transition: all ease 0.2s;
}

#btnLogin:hover{
    transform: scale(1.05);
}

#btnLogin:active{
    background-color: #76b6f3;
    transform: scale(1.08);
}

@media screen and (max-width: 400px){
    .container{
        width: 90%;
        height: fit-content;
    }
    .content h1{
        margin-bottom: 30px;
    }
    .roundedInput{
        width: 200px;
        margin-left: auto;
        margin-right: auto;
    }
    .inputField i{
        transform: translateX(20px);
    }
    .inputField span{
        transform:  translateX(60px) translateY(12px);
    }
    .chkBoxRemember{
        margin-left: 22px;
    }
    .inputField input:valid ~ span,
    .inputField input:focus ~ span{
        transform: translateX(48px) translateY(-8px);
        padding: 0;
        background-color: white;
        font-size: 14px;
    }
}
