.content header{
    margin: 30px;
    display: flex;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
}

.content header h3{
    width: 100%;
    color: rgb(108, 108, 108);
    cursor: pointer;
}

#add-user-btn,
.control-group #add-user-btn{
    width: 130px;
    height: 40px;
    color: white;
    font-size: 16px;
    background-color: #5b6de1c9;
    border: none;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
}

.content header #add-user-btn:hover,
.control-group #add-user-btn:hover
{
    cursor: pointer;
    box-shadow: 0px 0px 2px rgb(92, 206, 170, 0.8);
}

.content header #add-user-btn{
    padding-left: 30px;
    
}

.content header i{
    height: 40px;
    width: 40px;
    font-size: 26px;
    line-height: 40px;
    color: white;
    z-index: 99;
    display: inline-block;
    transform: translateX(-110px);
    -webkit-transform: translateX(-110px);
    -moz-transform: translateX(-110px);
    -ms-transform: translateX(-110px);
    -o-transform: translateX(-110px);
}

.user-list{
    margin: 30px;
    margin-top: 40px;
    padding: 10px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    box-shadow: 0px 0px 2px rgb(70, 70, 70);
    display: flex;
    flex-direction: column;
    overflow-x: scroll;
}

.user-list .title-wrapper{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    text-align: center;
}

.user-list #search-user-txt{
    width: 350px;
    height: 40px;
    outline: none;
    font-size: 16px;
    padding-left: 10px;
    transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(71, 167, 199, 0.5);
}

.user-list #search-user-txt:hover,
.user-list #search-user-txt:focus
{
    border-color: rgb(71, 167, 199);
}

.user-list #search-user-btn{
    width: 96px;
    height: 40px;
    color: white;
    font-size: 16px;
    background-color: rgb(90, 208, 248);
    border: none;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
}

.user-list #search-user-btn:hover
{
    cursor: pointer;
    box-shadow: 0px 0px 2px rgb(90, 208, 248, 0.8);
}

.user-list table{
    margin: 20px;
    border-collapse: collapse;
}

.user-list table tr{
    height: 50px;
}

.user-list table th, td{
    text-align: left;
    padding: 10px;
}

.user-list table .table-header{
    border-bottom: 1px solid gray;
}

.user-list table tr td i{
    font-size: 22px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    cursor: pointer;
}

.user-list table tr td i.edit{
    background-color: rgb(103, 195, 252);
    color: white;
}

.user-list table tr td i.remove{
    background-color: rgb(255, 118, 118);
    color: white;
}

.user-list table span{
    display: block;
    color: white;
    font-weight: bold;
    width: 90px;
    padding: 4px;
    text-align: center;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

.user-list table span.active{
    background-color: rgb(126, 199, 132);
}

.user-list table span.inactive{
    background-color: rgb(222, 125, 90);
}

.add-new-user-form{
    position: fixed;
    background-color: rgb(188, 188, 188,0.2);
    z-index: 99;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.main-form{
    width: 960px;
    height: 500px;
    background-color: white;
    margin: 0 auto;
    transform: translateY(100px);
    -webkit-transform: translateY(100px);
    -moz-transform: translateY(100px);
    -ms-transform: translateY(100px);
    -o-transform: translateY(100px);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    box-shadow: 1px 1px 10px rgb(0, 0, 0, 0.1);
}

.main-form .form-header{
    color: #474d58;
    padding: 30px;
    font-size: 22px;
    transform: translateX(20px) translateY(10px);
    -webkit-transform: translateX(20px) translateY(10px);
    -moz-transform: translateX(20px) translateY(10px);
    -ms-transform: translateX(20px) translateY(10px);
    -o-transform: translateX(20px) translateY(10px);
}

.main-form .form-content{
    width: 740px;
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
    align-items: center;
    transform: translate(110px) translateY(20px);
    -webkit-transform: translate(110px) translateY(20px);
    -moz-transform: translate(110px) translateY(20px);
    -ms-transform: translate(110px) translateY(20px);
    -o-transform: translate(110px) translateY(20px);
}

.main-form .form-content .input-field{
    width: 100%;
    flex: 50%;
    margin-bottom: 20px;
}

.main-form .form-content .text-input{
    width: 300px;
}

.control-group{
    margin: 0 auto;
    text-align: center;
    transform: translateY(10px);
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
}

.control-group #cancel-add-user-btn{
    width: 100px;
    height: 40px;
    color: white;
    font-size: 16px;
    background-color: rgb(255, 156, 120);
    border: none;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
}

.control-group #cancel-add-user-btn:hover{
    cursor: pointer;
    box-shadow: 0px 0px 2px rgb(255, 156, 120, 0.8);
}

.add-new-user-form{
    display: none;
}

.center {
    text-align: center;
  }
  
  .pagination {
    display: inline-block;
    font-weight: bold;
  }
  
  .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 0 4px;
  }
  
  .pagination a.active {
    background-color: #5b6de1c9;
    color: white;
    border: 1px solid #5b6de1c9;
  }
  
  .pagination a:hover:not(.active) {background-color: #ddd;}

.new-user{
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 440px;
    margin-left: 30px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 4px rgba(128, 128, 128, 0.5);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.row-1 > div{
    flex: 1 1 auto;
}

.new-user-2::-webkit-scrollbar {
    width: 4px;  
      background-color: #ffffff;
  }
  
/* Track */
.new-user-2::-webkit-scrollbar-track {
    
    border-radius: 10px;
    
  }
   
/* Handle */
.new-user-2::-webkit-scrollbar-thumb {
    background-color: #9999992a;
    border-radius: 8px;
}


.new-user-1{
    margin-bottom: 20px;
    color: #474d58;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.new-user-2{
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    padding-right: 8px;
}

.new-user-2 .new-user-item{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    font-size: 16px;
    background-color: #eff5fc;
    margin: 10px 0;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    align-items: center;
}

.new-user-item .new-user-item-user-info{
    color: #67349d!important;
    font-size: 18px;
}

.new-user-item .user-role{
    font-weight: 400;
    color: #b5bacd;
}

.new-user-item .new-user-action-btn{
    color: #67349d;
    cursor: pointer;
    font-size: 20px;
}

.new-user-item.admin{
    background-color: #fceff2;
}

.row-1{
    display: flex;
    flex-wrap: wrap;
    justify-content:baseline;
    row-gap: 20px;
}

.invite-user{
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 440px;
    margin-left: 30px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 4px rgba(128, 128, 128, 0.5);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.invite-user-input-field{
    display: flex;
    flex-direction: column;
    row-gap: 12px;
}

.invite-user-1{
    display: flex;
    justify-content: space-between;
}

.invite-user-1 i{
    font-size: 22px;
    cursor: pointer;
}

.invite-user img{
    max-width: 480px;
    max-height: 175px;
}

.invite-user-1 .invite-user-header{
    font-size: 18px;
    color: #474d58;
    font-weight: bold;
}

.invite-user input[type="text"], select{
    color: #81879f;
    font-weight: 400;
    border: 1px solid #e5ecff;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    font-size: 16px;
    width: 100%;
    display: block;
    height: 40px;
    outline: none;
    padding: 10px 25px;
    line-height: 40px;
}

.invite-user select{
    width: 180px;
    padding: 10px;
}

.input-name{
    display: flex;
    column-gap: 12px;
}

.invite-user .send-invitation-btn{
    border-radius: 15px;
    font-size: 16px;
    color: #ffffff;
    font-weight: 400;
    background-color: #5b6de1c9;
    width: 100px;
    display: block;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    outline: none;
    border: 1px solid #5b6de1a4;
    padding: 16px 10px;
    width: 100%;
    margin-top: 20px;
    cursor: pointer;
}

.add-new-user-btn{
    cursor: pointer;
}

#add-user-btn{
    cursor: pointer;
}

#add-user-btn i{
    font-size: 22px;
    text-align: center;
    transform: translateY(3px);
    -webkit-transform: translateY(3px);
    -moz-transform: translateY(3px);
    -ms-transform: translateY(3px);
    -o-transform: translateY(3px);
}

#add-user-btn{
    
    text-align: center;
    align-self: center;
    line-height: 40px;
}
.total-user{
    width: 500px;
    height: 440px;
    margin-left: 30px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 4px rgba(128, 128, 128, 0.5);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.total-user-header{
    font-size: 18px;
    color: #474d58;
    font-weight: bold;
}

/* Progress Bar */
@keyframes growProgressBar {
    0%, 33% { --pgPercentage: 0; }
    100% { --pgPercentage: var(--value); }
  }
  
  @property --pgPercentage {
    syntax: '<number>';
    inherits: false;
    initial-value: 0;
  }
  
  div[role="progressbar"] {
    --size: 12rem;
    --fg: #5b6de1c9;
    --bg: #def;
    --pgPercentage: var(--value);
    animation: growProgressBar 3s 1 forwards;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    display: grid;
    place-items: center;
    background: 
      radial-gradient(closest-side, white 80%, transparent 0 99.9%, white 0),
      conic-gradient(var(--fg) calc(var(--pgPercentage) * 1%), var(--bg) 0)
      ;
    font-family: Helvetica, Arial, sans-serif;
    font-size: calc(var(--size) / 5);
    color: var(--fg);
  }
  
div[role="progressbar"]::before {
counter-reset: percentage var(--value);
content: counter(percentage) '%';
}

.progressbar-container{
    height: 100%;
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.progressbar{

}

.progressbar-text{
   font-size: 22px;
}

/* .user-list table td, th{
    display: none;
}

.user-list table td:nth-child(2), th:nth-child(2){
    display: block;
} */

@media only screen and (max-width: 1240px) {
    .user-list table td:nth-child(3), th:nth-child(3){
        display: none;
    }

}

@media only screen and (max-width: 1100px) {
    .user-list table td:nth-child(6), th:nth-child(6){
        display: none;
    }
    .row-1 > div{
        margin: 20px auto !important;
    }
}

@media only screen and (max-width: 980px) {
    .user-list table td:nth-child(5), th:nth-child(5){
        display: none;
    }
}

@media only screen and (max-width: 940px) {
    .user-list #search-user-txt{
        width: 200px;
    }
}

@media screen and (max-width: 520px){
    #search-user-txt{
        width: 150px !important;
    }
}

table th{
    cursor: pointer;
}

