@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa', cursive;
}

body{
    display: flex;
    flex-direction: column;
}

main{
    display: flex;
    width: calc(100% - 12px);
    height: calc(100vh - 8px);
    min-height: 800px;
    margin: 4px;
}

.container{
    width: 100%;
}

.left-navigation{
    background-image: url(../images/home/nav_background.jpg);
    font-size: 1.2em;
    flex-shrink: 0;
    transition: all 0.4s;
    position: relative;
    z-index: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 24px;
    overflow: hidden;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: 1px 0px 10px rgba(0, 0, 0, 0.2);
}

.content-reponsive{
    display: none;
}

.left-navigation.expand{
    width: 240px;
    height: 100%;
    min-width: 240px;
    max-width: 240px;
}

.left-navigation.collapse{
    width: 60px;
    height: 100%;
    min-width: 60px;
    max-width: 60px;
    padding: 0;
}

.left-navigation a span{
    position: absolute;
    transform: translateX(4px) translateY(2px);
    -webkit-transform: translateX(4px) translateY(2px);
    -moz-transform: translateX(4px) translateY(2px);
    -ms-transform: translateX(4px) translateY(2px);
    -o-transform: translateX(4px) translateY(2px);
    white-space:nowrap;
}

.left-navigation.collapse a span{
    transition: all ease 0.3s;
    opacity: 0;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
}

.left-navigation.collapse a span{
    width: 300px;
}

.left-navigation.collapse .category{
    opacity: 0;
}

.left-navigation::after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    /* background: #2f89fc; */
    background: -moz-linear-gradient(45deg, #2f89fc 0%, #ff5db1 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, #2f89fc), color-stop(100%, #ff5db1));
    /* background: -webkit-linear-gradient(45deg, #2f89fc 0%, #ff5db1 100%); */
    background: -o-linear-gradient(45deg, #2f89fc 0%, #ff5db1 100%);
    background: -ms-linear-gradient(45deg, #2f89fc 0%, #ff5db1 100%);
    background: linear-gradient(45deg, #2f89fc 0%, #ff5db1 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2f89fc', endColorstr='#ff5db1', GradientType=1 );
    opacity: .8;
    z-index: -1;
}

.left-navigation .nav-item, .left-navigation .category{
    font-size: 20px;
    text-size-adjust: none;
}

.left-navigation .logo{
    display: block;
    text-decoration: none;
    width: 160px;
    height: 160px;
    margin: 0 auto;
}

.left-navigation .nav-item{
    display: block;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    padding: 14px 0 14px 18px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    background-size: 10px 30px;
    transition: all ease 0.3s;
    height: 52px;
    min-height: 52px;
    max-height: 52px;
    width: 192px;
    height: 52px;
}

.left-navigation .nav-item i{
    font-size: 22px;
    width: 23px;
    height: 23px;
    line-height: 23px;
    min-height: 23px;
    align-items: center;
    text-align: center;
    transform: translateY(2px);
    -webkit-transform: translateY(2px);
    -moz-transform: translateY(2px);
    -ms-transform: translateY(2px);
    -o-transform: translateY(2px);
    transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
}

.left-navigation.collapse .nav-item{
    width: calc(100% - 4px);
    margin: 4px;
}

.left-navigation.collapse .nav-item i{
    transform: translateX(-4px);
    -webkit-transform: translateX(-4px);
    -moz-transform: translateX(-4px);
    -ms-transform: translateX(-4px);
    -o-transform: translateX(-4px);
}

.left-navigation .nav-item.active{
    color: white;
}

.left-navigation.expand a.nav-item:not(.active)::after{
    position: absolute;
    content: '';
    width: 0px;
    height: 52px;
    background-color: rgba(255, 255, 255, 0.2);
    left: 24px;
    transform: translateY(-14px);
    z-index: 99;
    -webkit-transform: translateY(-14px);
    -moz-transform: translateY(-14px);
    -ms-transform: translateY(-14px);
    -o-transform: translateY(-14px);
    transition: all ease 0.4s;
    -webkit-transition: all ease 0.4s;
    -moz-transition: all ease 0.4s;
    -ms-transition: all ease 0.4s;
    -o-transition: all ease 0.4s;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.left-navigation.expand a.nav-item:not(.active):hover{
    color: white;
    padding-left: 46px;
}

.left-navigation.expand a.nav-item:not(.active):hover::after{
    width: 200px;
}

.left-navigation.collapse a.nav-item:not(.active){
    margin: 4px;
    transition: all ease 0.4s;
    -webkit-transition: all ease 0.4s;
    -moz-transition: all ease 0.4s;
    -ms-transition: all ease 0.4s;
    -o-transition: all ease 0.4s;
}

.left-navigation.collapse a.nav-item:not(.active):hover{
    color: white;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 4px;
}

.left-navigation.collapse a.nav-item:not(.active):hover::after{
    width: 200px;
}

.left-navigation .category p{
    padding-top: 20px;
    padding-bottom: 4px;
    font-weight: bold;
    color: rgb(247, 247, 247);
    text-shadow: 2px 1px 2px black;
    transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
}



/* .catagory-separator{
    position: relative;
    height: 1px;
    width: 100%;
    padding-left: 24px;
    padding-right: 24px;
    border-top: 1px solid black;
    transform: translateY(-10px);
    z-index: 0;
    background-color: white;
} */

/* Container */
.container{
    width: 100%;
    margin-left: 4px;
}

/* Top bar */
.top-bar{
    width: 100%;
    height: 60px;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content:space-between;
    padding: 0 10px;
}

.top-bar *{
    text-align: center;
    align-items: center;
}

.top-bar .topbar-left{
    display: flex;
    height: 100%;
}

.top-bar .topbar-right{
    display: flex;
    height: 100%;
}

.top-bar i{
    transition: all ease-out 0.3s;
    -webkit-transition: all ease-out 0.3s;
    -moz-transition: all ease-out 0.3s;
    -ms-transition: all ease-out 0.3s;
    -o-transition: all ease-out 0.3s;
    text-align: center;
}

.top-bar i.bx-menu{
    font-size: 40px;
    color: gray;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    width: 42px;
    height: 42px;
    line-height: 42px;
}

.top-bar i:not(.bx-menu){
    font-size: 32px;
    color: gray;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
}

.top-bar .search-txt-box{
    font-size: 16px;
    color: rgb(100, 100, 100);
    text-align: left;
    padding-left: 8px;
    height: 30px;
    width: 0px;
    opacity: 0;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-width: 2px;
    border-style: solid;
    border-color: rgba(128, 128, 128, 0.5);
    outline: none;
    transition: all ease 0.2s;
    -webkit-transition: all ease 0.2s;
    -moz-transition: all ease 0.2s;
    -ms-transition: all ease 0.2s;
    -o-transition: all ease 0.2s;
}

.top-bar #search-txt-box:hover,
.top-bar #search-txt-box:focus,
.top-bar #search-txt-box:not(:placeholder-shown){
    border-color: rgba(128, 128, 128);
}

.user-avatar{
    display: block;
    height: 42px;
    width: 42px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    line-height: 50px;
    margin: auto 0;
    -webkit-user-drag: none;
}

.user-info{
    display: flex;
    height: calc(100% - 8px);
    padding: 0 8px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    transition: all ease-out 0.2s;
    -webkit-transition: all ease-out 0.2s;
    -moz-transition: all ease-out 0.2s;
    -ms-transition: all ease-out 0.2s;
    -o-transition: all ease-out 0.2s;
    cursor: pointer;
    user-select: none;
}


.info-content{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-left: 12px;
}

.info-content *{
    height: 50%;
}

.info-content .user-name{
    padding-top: 12px;
    font-size: 16px;
    font-weight: bolder;
}

.info-content .user-position{
    /* padding-top: 10px; */
    font-size: 13px;
    padding-top: 4px;
}

/* Adjust position for top bar elements */
/* .top-bar .search-box{
    
} */

.top-bar .messages, .notify{
    margin-right: 12px;
}

/* Add effect for top bar elements */

/* Hover Effect */
.user-info:hover{
    background-color: rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.9);
}

.top-bar i:hover{
    background-color: rgba(0, 0, 0, 0.1);
}

content


/* #### Mobile Phones Portrait #### */
@media screen and (max-device-width: 480px) and (orientation: portrait){
    /* some CSS here */
}

  
/* #### Tablets Portrait or Landscape #### */
@media screen and (max-width: 768px){
    main{
        display: flex;
        flex-direction: column;
    }
    .left-navigation.expand{
        width: 100%;
        height: 60px;
        display: inline-flex;
        max-width: 100%;
        min-width: none;
        overflow: hidden;
        padding: 0;
        flex-flow: row wrap;
        gap: 12px;
        align-content: center;
        margin-bottom: 4px;
        transform: translateX(4px);
        -webkit-transform: translateX(4px);
        -moz-transform: translateX(4px);
        -ms-transform: translateX(4px);
        -o-transform: translateX(4px);
        padding: 6px 0 0 4px;
    }

    .left-navigation .logo{
        background-color: rgba(177, 221, 236, 0.573);
        display: none;
    }

    .left-navigation.expand .category{
        display: none;
    }

    .left-navigation.expand .nav-item{
        width: fit-content;
        height: 18px;
        position: static;
        border-bottom: none;
        margin: 0;
        padding: 0;
        min-height: 18px;
    }

    .left-navigation.expand .nav-item i{
        display: none;
    }

    .left-navigation.expand .nav-item span{
        display: block;
        position: static;
        font-size: 16px;
    }

    .left-navigation.expand a.nav-item:not(.active):hover::after{
        width: 0;
    }

    .left-navigation.expand a.nav-item:not(.active):hover{
        padding-left: 18px;
    }

    .left-navigation.expand a.nav-item:not(.active):hover{
        color: white;
        padding-left: 0px;
    }

    .left-navigation{
        order: 1;
    }
    .content{
        display: none;
    }
    .top-bar{
        margin-bottom: 10px;
    }
    .content-reponsive{
        display: block;
        order: 2;
    }
}
  
  /* #### Desktops #### */
  @media screen and (min-width: 1024px){
    /* some CSS here */
}




